@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "./header.css";
@import "./main-content.css";
@import "./footer.css";

:root {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  width: 100vw;
  background-color: #f8d629;
}

.lateral-padding {
  padding-inline: 10%;
}
